
@model  LandingPageModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid header1 header2 minify-header appfamily-header">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Microsoft Outlook File Format Solution</h1>
				<h2>Manipulate Outlook & Thunderbird email & email storage file formats. Implement multiple network protocols without any dependencies.</h2>
			</div>
			<div class="col-md-4 tc">
				<img class=" col-xs-12" src="../img/aspose_email-brand.png" alt="Aspose.Email" width="320" />
			</div>
			<!--/col6 -->
		</div>
		<!--/row -->
	</div>
	<!--/container -->
</div>
<div class="container-fluid productfamilypage bg-white pdb-5">
	<div class="row">
		<div class="container tc">
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>
			<h3>@string.Format(@Model.Resources["AsposeProductFamilyInclude"], @Model.Resources["AsposeEmail"]) </h3>
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_viewer-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/viewer"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>Viewer</em></span><em>View your email files online as well as view your Email as an image representation from anywhere.</em></a>
				</div>

			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_conversion-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/conversion"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>@Model.Resources["Conversionh4"]</em></span><em>Easily convert Microsoft Outlook and other Email formats without leaving your favorite browser.</em></a>
				</div>

			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_metadata-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/metadata"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>Metadata</em></span><em>Online App to view & edit Metadata properties of EML or MSG files on any platform.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_search-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/search"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>Search</em></span><em>Search content inside Email or MSG files based on string or regular expression.</em></a>
				</div>

			</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_parser-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/parser"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>Parser</em></span><em>Extract text and images from EML or MSG files on any platform.</em></a>
				</div>

			</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_comparison-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/comparison"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>Comparison</em></span><em>Compare email messages. Highlight differences and view online. Compare Outlook emails. Compare MSG or EML files.</em></a>
				</div>

			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_annotation-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/annotation"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>Annotation</em></span><em>Delete annotation from emails. Remove annotation from your Outlook emails & MSG or EML files.</em></a>
				</div>

			</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_redaction-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/redaction"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>Redaction</em></span><em>Redact sensitive information in a message file. Find and replace text in contents.</em></a>
				</div>

			</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_watermark-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/watermark"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>Watermark</em></span><em>Add text & image watermarks or remove existing watermarks from Email archives.</em></a>
				</div>

			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_editor-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/editor"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>Editor</em></span><em>Message editor. View, convert & edit email files. Process MSG & EML files.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_merger-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/merger"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>Merger</em></span><em>Merge multiple EML or MSG files to generate a single resultant file on any platform.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_signature-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/signature"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>Signature</em></span><em>Email signature generator. Add text, image or drawing based signature to MSG & EML formats. eSign email files.</em></a>
				</div>
			</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_headers-app.png" alt="Aspose.Email for .NET" />
					</div>
					<a href="/email/headers"><span class="spanclass">@Model.Resources["AsposeEmail"] @Model.Resources["AsposeProductFor"]<em>Headers</em></span><em>Analyze Headers of your Email messages in any browser, on any platform.</em></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="spacer">&nbsp;</div>
