<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>@ViewBag.PageTitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="theme-color" content="#3C7DE7" />

    <link rel="manifest" href="~/manifest_email.json" />

    @if (!string.IsNullOrEmpty(ViewBag.CanonicalTag))
    {
        @Html.Raw(ViewBag.CanonicalTag)
    }
    @if (!string.IsNullOrEmpty(ViewBag.MetaKeywords))
    {
        <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)" />
    }

    <link href="@Url.Content("~/img/favicon.ico")" rel="shortcut icon" type="image/vnd.microsoft.icon" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Font CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" type="text/css" />

    <!-- Common CSS -->
    <link rel="stylesheet" href="https://cms.dynabic.com/templates/aspose/css/common.css" type="text/css" />

    <!-- Dynabic.Menu CSS -->
    <link rel="stylesheet" href="https://cms.admin.containerize.com/templates/aspose/css/AsposePtyLtdMenu.css" type="text/css" />
    <link rel="stylesheet" href="https://cms.admin.containerize.com/templates/aspose/css/font-awesome.css" type="text/css" />

    <link rel="stylesheet" href="~/css/error404.css" type="text/css" />
    <link rel="stylesheet" href="~/css/asposeapp.css" type="text/css" />

    @if (IsSectionDefined("styles"))
    {
        @RenderSection("styles", false)
    }

    @if (ViewBag.SaveAsComponent)
    {
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.full.min.js"></script>
    }

    @if (ViewBag.JsonLd != null)
    {
        foreach (var item in ViewBag.JsonLd)
        {
            <script type="application/ld+json">
                @Html.Raw(item)
            </script>
        }
    }

</head>
<body>
    <div id='DynabicMenuInnerDiv'></div>

    @RenderBody()

    <div id='DynabicMenuFooter'></div>

    <script src="https://menu.containerize.com/Scripts/Containerize.Menu.min.js"></script>

    @if (System.Diagnostics.Debugger.IsAttached)
    {
        <script src="~/js/email/base.js"></script>
        <script src="~/js/email/filedrop.js"></script>
    }
    else
    {
        <script src="~/js/email/base.min.js"></script>
        <script src="~/js/email/filedrop.min.js"></script>
    }

    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts", false)
    }

    @if (ViewBag.SaveAsComponent)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#saveAs').select2();
            });
        </script>
    }

    <script>
        LoadMenu("AsposeApp");
    </script>
</body>
</html>